# .NET
Backend/bin/
Backend/obj/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb
*.log

# Angular
Frontend/node_modules/
Frontend/dist/
Frontend/.angular/
Frontend/.vscode/

# IDE
.vs/
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
